<a href="https://colab.research.google.com/github/satyamkr1996/ABBSM/blob/master/updated_code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [92]:
import pandas as pd
file = pd.read_csv("/new.csv")

In [93]:
t_ext = 20
t_int = -16

In [94]:
file['Wall_Area'] = file['Wall_1_A'] + file['Wall_2_A'] + file['Wall_3_A']      #outer wall area
file['Window_Area'] = file['Window_1_A'] + file['Window_2_A']              #window area total

In [115]:
def transmission(area, correction_factor, u_value, heat_bridge):
    u_corrected = u_value+heat_bridge
    ht = area*correction_factor*u_corrected
    t_heat_loss = ht*(t_ext-t_int)
    return t_heat_loss

def ventilation(n_min, n50, e, eps, net_vol):      #how net volume?
    v_min = n_min*net_vol
    v_inf = 2*net_vol*n50*e*eps
    vi = max(v_min, v_inf)
    v_heat_loss = 0.34*vi*(t_ext - t_int)
    return v_heat_loss

def heat_up_load(frh, area):
    heatupload = area*frh
    return heatupload

In [125]:
file['transmission_walls']= file.apply(lambda x:transmission(x["Wall_1_A"],1,x["Wall_1_UW"],0.1), axis=1)+file.apply(lambda x:transmission(x["Wall_2_A"],1, x["Wall_2_UW"],0.1), axis=1)+file.apply(lambda x:transmission(x["Wall_3_A"],1, x["Wall_3_UW"],0.1), axis=1)
file['transmission_windows']= file.apply(lambda x:transmission(x["Window_1_A"],1,x["Window_1_UW"],0.1), axis=1)+file.apply(lambda x:transmission(x["Window_2_A"],1, x["Window_2_UW"],0.1), axis=1)
file['transmission_roof']= file.apply(lambda x:transmission(x["Energy_equivalent_Area"],0.4,x["Roof_1_UW"],0.1), axis=1)+file.apply(lambda x:transmission(x["Energy_equivalent_Area"],1, x["Roof_2_UW"],0.1), axis=1)
file['transmission_floor']= file.apply(lambda x:transmission(x["Energy_equivalent_Area"],0.4,x["Floor_1_UW"],0.1), axis=1)+file.apply(lambda x:transmission(x["Energy_equivalent_Area"],1, x["Floor_2_UW"],0.1), axis=1)
file['total_ventilation']=file.apply(lambda x: ventilation(0.5, 3, 0.03, 1, x['Volume']), axis=1)
file['total_heat_up_load']=file.apply(lambda x: heat_up_load(21,x['Wall_1_A'] ), axis=1)+file.apply(lambda x: heat_up_load(21,x['Wall_2_A'] ), axis=1)+file.apply(lambda x: heat_up_load(21,x['Wall_3_A'] ), axis=1)

In [126]:
total_load=['transmission_walls', 'transmission_windows','transmission_roof','transmission_floor','total_ventilation','total_heat_up_load'  ]
file['heat_load']=file[total_load].sum(axis=1)

file['Specific_heat_load'] = file['heat_load']/file['Wall_Area']

In [128]:
file.head()

,House_Type,Year_from,Year_to,number_floors,Energy_equivalent_Area,No_of_residential_building,Volume,Roof_1_A,Roof_2_A,Wall_1_A,...,Wall_Area,Window_Area,transmission_walls,transmission_windows,transmission_roof,transmission_floor,total_ventilation,total_heat_up_load,heat_load,Specific_heat_load
0,EFH_A,0,1859,2,199.0,1,767.575987,134.19,0.0,169.78,...,169.78,28.78,12835.368,3004.632,15617.520,30088.800,4697.565044,3565.38,69809.265044,411.174844
1,EFH_B,1860,1918,2,128.9,1,595.000000,83.12,0.0,194.04,...,194.04,22.30,12573.792,2328.120,7703.064,8445.528,3641.400000,4074.84,38766.744000,199.787384
2,EFH_C,1919,1948,2,275.0,2,1052.500000,213.99,0.0,235.30,...,235.30,52.35,15247.440,5465.340,14850.000,15246.000,6441.300000,4941.30,62191.380000,264.306757
3,EFH_D,1949,1957,1,101.0,1,380.000000,125.40,0.0,117.80,...,117.80,18.40,6361.200,1920.960,5454.000,5650.344,2325.600000,2473.80,24185.904000,205.313277
4,EFH_E,1958,1968,1,110.2,1,502.900000,168.90,0.0,141.20,...,149.90,27.10,6890.040,2829.240,4205.232,9441.936,3077.748000,3147.90,29592.096000,197.412248

In [140]:
file.insert(loc = 0,column = 'PPA',value = '<input type="checkbox" />')
file.style

In [143]:
file.head(2)

,House_Type,Year_from,Year_to,number_floors,Energy_equivalent_Area,No_of_residential_building,Volume,Roof_1_A,Roof_2_A,Wall_1_A,...,Wall_Area,Window_Area,transmission_walls,transmission_windows,transmission_roof,transmission_floor,total_ventilation,total_heat_up_load,heat_load,Specific_heat_load
0,EFH_A,0,1859,2,199.0,1,767.575987,134.19,0.0,169.78,...,169.78,28.78,12835.368,3004.632,15617.520,30088.800,4697.565044,3565.38,69809.265044,411.174844
1,EFH_B,1860,1918,2,128.9,1,595.000000,83.12,0.0,194.04,...,194.04,22.30,12573.792,2328.120,7703.064,8445.528,3641.400000,4074.84,38766.744000,199.787384

In [144]:
file[['House_Type','heat_load' ]]

                               House_Type     heat_load
0                                   EFH_A  6.980927e+04
1                                   EFH_B  3.876674e+04
2                                   EFH_C  6.219138e+04
3                                   EFH_D  2.418590e+04
4                                   EFH_E  2.959210e+04
5                                   EFH_F  3.210137e+04
6                                   EFH_G  3.156600e+04
7                                   EFH_H  2.393040e+04
8                                   EFH_I  1.481872e+04
9                                   EFH_J  1.613185e+04
10                                   RH_B  2.152933e+04
11                                   RH_C  2.155331e+04
12                                   RH_D  3.929381e+04
13                                   RH_E  1.934850e+04
14                                   RH_F  1.637261e+04
15                                   RH_G  1.494988e+04
16                                   RH_H  1.390128e+04
17                                   RH_I  1.356016e+04
18                                   RH_J  1.483729e+04
19                                  MFH_A  1.874673e+05
20                                  MFH_B  6.450878e+04
21                                  MFH_C  8.117171e+04
22                                  MFH_D  1.683105e+05
23                                  MFH_E  6.107851e+05
24                                  MFH_F  7.625105e+04
25                                  MFH_G  9.239543e+04
26                                  MFH_H  1.113145e+05
27                                  MFH_I  9.529931e+04
28                                  MFH_J  1.988939e+05
29                                  GMH_B  1.555412e+05
30                                  GMH_C  3.083945e+05
31                                  GMH_D  4.210357e+05
32                                  GMH_E  8.150974e+05
33                                  GMH_F  5.272002e+05
34                                   HH_E  2.170049e+06
35                                   HH_F  3.253283e+06
36                                EFH_F/F  2.656764e+04
37                              NBL_MFH_D  5.006716e+05
38                              NBL_MFH_E  5.078869e+05
39                              NBL_GMH_F  4.676334e+05
40                              NBL_GMH_G  4.101602e+05
41                              NBL_GMH_H  3.535495e+05
42                               NBL_HH_F  8.091225e+05
43                               NBL_HH_G  1.142364e+06
44  K.EFH - Referenz-Ausführung EnEV 2009  1.917409e+04
45   K.RH - Referenz-Ausführung EnEV 2009  1.744794e+04
46  K.MFH - Referenz-Ausführung EnEV 2009  1.164319e+05
47  L.EFH - Referenz-Ausführung EnEV 2009  1.917164e+04
48   L.RH - Referenz-Ausführung EnEV 2009  1.744794e+04
49  L.MFH - Referenz-Ausführung EnEV 2009  1.164319e+05